.top{
    display: inline-flex;
    width:212vh;
    height:12vh;
}
.top ul{
    margin-left: 150px;
    font-size: 21px;
    display: inline-flex;
}
.top li{
    padding-top: 5px;
    margin-left: 40px;
}
.top button{
    margin-left: 760px;
    width:15vh;
    height: 8vh;
    font-size: 20px;
    background-color: rgb(103, 103, 175);
    border-radius: 3px;
    color:whitesmoke;
    font-family: ubuntu;
}
.fas{
    margin-right: 8px;
    padding-left: 28px;
    padding-top: 14px;
}
.top p, .top li, .top button{
    margin-top: 12px;
}
#first{
    font-family: cursive;
    color:rgb(70, 70, 179);
}
#second{
    font-family:ubuntu;
    margin-right: -20vh;
}
#first, #second{
    font-size: 30px;
    padding-top: 8px;
}
.container{
    margin:10px 150px;
}
.col-md-6 img{
    width:180vh;
    height:35vh;
    padding-top:10px;
    padding-right: 65px; 
}
.carousel-caption h1{
    color:rgb(252, 248, 248);
    height: 410px;
    text-decoration: bold;
    font-size: 70px;
}
.sidelist{
    margin-top: 15px;
}
.sidelist h1{
    color:rgb(73, 73, 161);
    margin-left: -20px;
    margin-right: 20px;
}
.sidelist li, .sidelist a{
    font-weight: 500;
    color: rgb(92, 89, 89);
    line-height: 30px;
}
.middle{
    display: flex;
}
.card{
    display: flex;
    justify-content:space-evenly;
}
.cardline1, .cardline2, .cardline3{
    margin-top: 10px;
}
.cardline1{
    margin-left: 20px;
    margin-right: 55px;
}
.cardline2{
    margin-left: 350px;
    margin-right: 126px;
}
.cardline3{
    margin-left: 350px;
    margin-right: 415px;
}
.card-img-top{
    height:220px
}
.card-text{
    font-size: 13px;
    color: rgb(100, 98, 98);
}
.contact{
    text-align: center;
}
.page-footer {
    display: inline-flex;
    width:235vh;
    height:10.4vh;
    text-align: center;
    justify-content: center;
    margin-left: -120px;
    background-color: rgb(218, 217, 216);
}
.page-footer p{
    padding-top: 19px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding-left: 27vh;
}
.footer-logo, #date{
    color:rgb(70, 70, 179);
}
a{
    color:black;
    text-decoration: none;
}
.sidelist a:hover{
    color: blueviolet;
}